body {
    background-color: rgb(158, 174, 243);
}

input {
    background-color: rgba(170, 170, 170, 0.2);
    opacity: 1;
    border: 1px solid rgb(158, 174, 243);
    border-radius: 5px;
    padding: 5px 20px;
    color: #000;
    margin-bottom: 10px;
}

.hobbies {
    padding-right: 10px;
}

#btn:hover {
    background-color: rgb(158, 174, 243);
    cursor: pointer;
    transition: 0.4s ease-in;
}

.form-container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: RGBA(239,239,239,0.5);
    border: 2px #cecece solid;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    margin: auto;
}

.form-fields {
    margin: 0 auto;
    text-align: left;
    width: 300px;
}